@charset "UTF-8";

body {
	font-family: BIZ UDPゴシック;
	background-color: #98fb98;
	text-align: center;
}

h1 {
	
    background-color: antiquewhite;
}

img {
	max-width: 100%;
    height: auto;
    background-color: lightgreen;
    
}

strong {
	font-size: 150px;
	
}


.oh {
  top: 240px;
  right: 200px;
  margin: auto 0;
  position: absolute;
  
}

.yh {
	
	margin-right: 45%;
}

select {
	font-size: 50px;
}
